.carrusel {
    width: 95%;
    margin: auto;
    display: flex;
    gap: 15px;
  
    & main {
      display: flex;
      flex-direction: column;
      position: relative;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      width: 293px;
      height: 300px;
      background: #fff;
      border: 1px solid #2514;
      box-shadow: 0 0 5px #000;
      border-radius: 5px;
      transition: .5s ease-in-out;

      &:hover {
        transform: translate(0, -15px);
        box-shadow: 0 20px 20px #1d1d1d60;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/logos/black-axiora.svg");
        background-repeat: no-repeat;
        background-size: 500%;
        background-position-x: -15%;
        background-position-y: -55%;
        opacity: 0.2;
      }
  
      & img {
        width: 70px;
      }
  
      & h2 {
          color: #8f8f8f;
          font-size: 1.1rem;
          font-weight: 600;
      }
  
      & p {
          padding: 4%;
          font-weight: 400;
          font-size: .9rem;
          color: #000000;
      }
    }
  
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  

