.MenuDashboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  box-shadow: 0 5px 5px #c4c1c1;
  background: #fff;
  position: relative;

  & nav {
    color: #992c88;
   
    & .openMenu {
      position: absolute;
      left: 0;
      top: 70px;
      transition: 0.5s ease-in-out;
      opacity: 1;
      visibility: visible;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      width: 120px;
      height: 100vh;
      background: #fff;
      box-shadow: 0 0 5px #c4c1c1;
      z-index: -1000;
     

      & li {
        display: grid;
        place-content: center;
        width: 100%;
        height: 100px;
        list-style: none;
        text-align: center;
        transition: .5s ease-in-out;
        border-top: 1px solid #9b9797;

        & a {
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: .5s ease-in;

          &:hover img {
            scale: 1.1;
          }
        }
      }
    }

    & .closedMenu {
      position: absolute;
      left: -100%;
      top: 70px;
      transition: 0.5s ease-in-out;
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      width: 120px;
      height: 100vh;
      z-index: -1000;

      & li {
        display: grid;
        place-content: center;
        width: 100%;
        height: 100px;
        list-style: none;
        text-align: center;
        border-top: 1px solid #9b9797;

        & a {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }

    .active {
      background: #992c8820;
      border-left: 2px solid #992c88;
    }
  }


 & section {
  width: 200px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;

  @media screen and (max-width: 768px) {
    width: 50px;
  }

  & small {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  & div {
    display: grid;
    place-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #f1b0e8;
    cursor: pointer;
    position: relative;
    
    & span {
      transform: translate(0, -2px);
      font-weight: 500;
      color: #4d4a4a; 
    }

    & .hiddenButton {
      width: 120px;
      height: 50px;
      position: absolute;
      left: -35px;
      top: 55px;
      transition: 0.5s ease-in-out;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow: inset 0 -2px 2px #992c88;
      color: #992c88;
      font-weight: 600;
    }
   }
 }
}
