.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    width: 90%;
    max-width: 960px;
    height: 100px;
    margin: auto;
    position: relative;

    & img {
        position: relative;
        z-index: 1000;
    }

    & .navOpen {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: -5%;
        background: #ffffff;
        box-shadow: inset 0 0 10px #220115;
        transition: .5s ease-in-out;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("/logos/black-axiora.svg");
            background-repeat: no-repeat;
            background-size: 500%;
            background-position-x: -5%;
            background-position-y: -55%;
            opacity: 0.2;
          }

        & ul {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            width: 100%;
            height: 30%;
            transform: translate(0, 100px);
           
          
    
            & li {
                text-decoration: none;
                letter-spacing: 2px;
                font-weight: 600;
                font-size: 1.1rem;
                color: #5f5e5e;
                transition: .5s ease-in-out;

            }
    
            & li:nth-child(3) {
                width: 137px;
                height: 40px;
                display: grid;
                place-content: center;
                font-size: 16px;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                border-radius: 50px;
                border: 1px solid hsl(318, 78%, 18%);
                background: transparent;
    
                &:hover {
                    background: rgba(138, 8, 131, 0.267);
                    border: 1px solid rgba(255, 255, 255, 0);
                }
              }
        }
        
    }

    & .navClosed {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 150%;
        scale: 1;
        opacity: 0;
        background: #ffffff;
        transition: .5s ease-in-out;

        @media screen  and (min-width: 768px){
            left: 20%;
            opacity: 1;
            scale: 1;
            top: 0;
            position: relative;
            height: 90px;
            width: 450px;
            background: transparent;
            justify-content: center;
        }


        & ul {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            width: 100%;
            height: 30%;

            @media screen  and (min-width: 768px) {
                flex-direction: row;
            }
    
            & li {
                text-decoration: none;
                letter-spacing: 1px;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.6rem;
                color: #8f8f8f;
                transition: color .2s;
                cursor: pointer;
                color: #fff;

            }

            & li:nth-child(1), li:nth-child(2) {
                &:hover {
                    color: rgb(190, 188, 188);
                }
            }
    
            & li:nth-child(3) {
                width: 137px;
                height: 40px;
                display: grid;
                place-content: center;
                font-size: 16px;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                border-radius: 50px;
                border: 1px solid hsl(0, 4%, 72%);
                background: transparent;
    
                &:hover {
                    background: rgba(138, 8, 131, 0.267);
                    border: 1px solid rgba(255, 255, 255, 0);
                }
              }
        }
        
    }


    & .icon {
        position: relative;
        z-index: 1000;
        font-size: 1.7rem;

        @media screen  and (min-width: 768px) {
            display: none;
        }
    }

    & .iconBlack {
        position: relative;
        z-index: 1000;
        font-size: 1.7rem;
        color: #000;
    }


  }