.oneComponent {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
    margin: auto;
    width: 100%;
    border: 1px solid #fff;
  }

  & picture {
    display: flex;
    width: 100%;

    & img {
      width: 100%;
    }
  }

  & div {
    width: 90%;
    margin: auto;
    text-align: center;
    
    @media screen and (min-width: 768px) {
        border: 1px solid #fff;
    }

    & h1 {
      text-align: left;
      font-weight: 300;
      margin-bottom: 1.1em;
      color: #fff;
      font-size: 1.7rem;
      line-height: 2.3rem;

      @media screen and (min-width: 768px) {
        font-size: 2.5rem;
        text-align: start;
        border: 1px solid #000;
        width: 50%;
        line-height: 3rem;
      }


    }

    & p {
      text-align: left;
      margin-top: 0;
      color: #fff !important;
      margin-bottom: 2rem !important;
      font-size: 0.9rem;
      line-height: 1.4rem;
    }

    & button {
      text-align: center;
      border-radius: 50px;
      font-size: 0.8rem;
      color: #575057;
      background-color: #d4d4d4;
      border-color: #d4d4d4;
      line-height: 1.5;
      font-weight: 500;
      letter-spacing: 0.05rem;
      padding: 1rem 3.5rem 0.9rem;
    }
  }
}

.open {
  position: relative;
  z-index: -1000;
  opacity: 1;
}
.closed {
  filter: blur(5px);
  transition: 0.5s ease-in-out;
}

