# Logs
npm-debug.log*
app/npm-debug.log*
landing/npm-debug.log*

# Dependency directories
node_modules/
app/node_modules/
landing/node_modules/

# dotenv environment variables file
.env

app/build/
landing/dist/

.DS_STORE
.DS_Store
