.form-container{
  width: 100%;
  height: auto;
  color: black;
  background-color: white;
  padding: 80px;
}
.bg-img{
  margin-bottom: 60px;
}
.title {
  color: #3a3a3a;
  font-size: 17px;
  margin-bottom: 26px;
}
.form-group {
  position: relative;
  margin-bottom: 15px;
}
.form-group label {
  position: absolute;
  top: -8px;
  left: 10px;
  font-size: 70%;
  padding: 0 2px;
  background-color: white;
  color: #3a3a3ab3;
}
.form-group input {
  width: 100%;
  border: 1px solid #d7d7d7;
  background: #fff;
  color: #3a3a3a;
  height: auto;
  font-size: 12px;
  padding: 12px 12px;
  line-height: 1;
  transition: all 0.3s ease;
  outline: 0;
}
.form-group input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
input:focus {
  border-color: #922c88;
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.links .text-register {
  font-size: 12px;
  color: #3a3a3a;
}
.links button {
  width: 190px;
  height: 40px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: bold;
  background-color: #922c88;
  color: white;
}
@media (min-width: 1150px) {
  .form-container {
    width: 600px;
  }
}
@media (min-width: 768) {
  .form-container {
    width: 550px;
  }
}
