.formulario{
    width: 680px;
    height: 455px;
    color: black;
    background-color: white;
    padding: 80px ;
}
.bg-img{
    margin-bottom: 60px;
}
.title {
    font-size: 17px;
    margin-bottom: 24px;
}
.form-group {
    display: flex;
    flex-direction: column;
}
  
  .form-group label {
    width: 100px; /* Ajusta el ancho según tus necesidades */
    margin-right: 10px; /* Espacio entre la etiqueta y el campo de entrada */
  }
  
  .form-group input {
    flex: 1; /* Para que el campo de entrada ocupe el espacio restante */
  }

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.links button {
    width: 190px;
    height: 40px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: bold;
    background-color: #922c88;
    color: white;
}